<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Editando Restaurante</h1>
	
	<%= render partial: "form" %>

	<br\>
	<p>
		<%= link_to "Voltar", action: 'index' %>
	</p>
</body>
</html>