<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Adicionando Restaurante</h1>
	
	<%= render partial: "form" %>

	<br\>
	<p>
		<%= link_to "Cancelar", action: "index" %>
	</p>
</body>
</html>